/BinarySearch/nbproject/private/
/BinarySearch/build/
/Fibonnaci/nbproject/private/
/Fibonnaci/build/
/ChangeBaseNumber/nbproject/private/
/ChangeBaseNumber/build/
/JavaApplication7/nbproject/private/
/BMI/nbproject/private/
/BMI/build/
/geographic/nbproject/private/
/geographic/build/
/ManageWorker/nbproject/private/
/ManageWorker/build/
/Doctor_Management/nbproject/private/
/Doctor_Management/build/
/Manage_Students_175/nbproject/private/
/Manage_Students_175/build/